@page
@using ToolRental.Utility

@if (User.IsInRole(SD.ManagerRole))
{
    // Need to incoroporate After design
}
 <div class="container border"">
     <div class="row">
         <div class="col-6">
             <h2 class="text-primary">User List</h2>
         </div>
         <div class="col-6 text-right">
             
         </div>
     </div>
 </div>
